@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.ym-contact-container {
  visibility: visible;
  padding: 20px;
  position: absolute;
  z-index: 1;
  height: calc(100vh - 100px);
  width: 800px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.enter-left {
  animation: slideInLeft 0.4s ease-out;
}

.exit-right {
  animation: slideOutRight 0.4s ease-out;
}

.ym-contact-container__title {
  color: green;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: end;
  svg {
    font-size: 40px;
  }
  .ym-upper-section {
    display: flex;
    justify-content: space-between;
    h3,
    p {
      margin: 0;
    }
    .ym-upper-section__buttons {
      display: flex;
      .download {
        margin-right: 10px;
      }
      .close {
        color: red;
      }
    }
  }
}

.ym-contact-container__card {
  /* background-color: #f5f5f5; */
  border-radius: 5px;
}

.ym-contact-container__card-data {
  /* height: 100px;
  background-color: #ddd;
  border-radius: 5px; */
  .resume {
    img {
      width: 100%;
    }
  }
  .ym-portfolio-data {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
  }

  .ym-portfolio-box {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .ym-portfolio-box:hover {
    transform: translateY(-5px);
  }

  .ym-portfolio-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .ym-portfolio-snippet {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 120px;
  }

  .ym-portfolio-date {
    font-size: 12px;
    color: #777;
  }

  .ym-portfolio-box a {
    display: block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .ym-portfolio-box a:hover {
    text-decoration: underline;
  }
  .ym-section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .ym-github-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
  }

  .ym-github-box {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .ym-github-box:hover {
    transform: translateY(-5px);
  }

  .ym-github-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .ym-github-info {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }

  .ym-github-box a {
    display: block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .ym-github-box a:hover {
    text-decoration: underline;
  }
  .ym-contact-data {
    margin-top: 40px;
    .ym-contact-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
      gap: 20px;

      li {
        background-color: #f4f4f4;
        padding: 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        svg {
          margin-right: 12px;
          color: #3498db;
        }

        a {
          color: #3498db;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            text-decoration: underline;
          }
        }

        strong {
          color: #333;
          font-weight: 600;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ym-container {
    .yms-link-set {
      display: none;
    }
    .ym-contact-container {
      display: unset;
      width: unset;
      height: 100%;
      padding: 10px;
      border: unset;
      .ym-contact-container__title {
        margin: 10px 10px 0 0;
        svg {
          font-size: 50px;
          color: red;
        }
        .ym-upper-section {
          .ym-upper-section__title {
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
      .ym-contact-container__card {
        .ym-contact-container__card-data {
          .ym-section-title {
            margin: 0 0 0 20px;
          }
          .ym-contact-data {
            margin-top: 0;
            h3 {
              margin: 0 0 20px 0;
            }
          }
        }
      }
    }
  }
}
