@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Playwrite+IT+Moderna:wght@100..400&family=Sigmar&display=swap');
body {
  font-family: "Balsamiq Sans", serif;
  margin: 0;
  padding: 0;
 /*  background: linear-gradient(135deg, #1e1e2f, #3a3a5f);
  color: #fff;
  text-align: center; */
}

@import "./home";
@import "./contact";